
@font-face {
    font-family: IranYekanFarsiNumbers;
    font-style: normal;
    font-weight: bold;
    src: url('https://farsifont.github.io/iranyekan-farsi-numbers/eot/iranyekanwebbold(fanum).eot');
    src: url('https://farsifont.github.io/iranyekan-farsi-numbers/eot/iranyekanwebbold(fanum).eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
    url('https://farsifont.github.io/iranyekan-farsi-numbers/woff2/iranyekanwebbold(fanum).woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
    url('https://farsifont.github.io/iranyekan-farsi-numbers/woff/iranyekanwebbold(fanum).woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('https://farsifont.github.io/iranyekan-farsi-numbers/ttf/iranyekanwebbold(fanum).ttf') format('truetype');
}

@font-face {
    font-family: IranYekanFarsiNumbers;
    font-style: normal;
    font-weight: 300;
    src: url('https://farsifont.github.io/iranyekan-farsi-numbers/eot/iranyekanweblight(fanum).eot');
    src: url('https://farsifont.github.io/iranyekan-farsi-numbers/eot/iranyekanweblight(fanum).eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
    url('https://farsifont.github.io/iranyekan-farsi-numbers/woff2/iranyekanweblight(fanum).woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
    url('https://farsifont.github.io/iranyekan-farsi-numbers/woff/iranyekanweblight(fanum).woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('https://farsifont.github.io/iranyekan-farsi-numbers/ttf/iranyekanweblight(fanum).ttf') format('truetype');
}

@font-face {
    font-family: IranYekanFarsiNumbers;
    font-style: normal;
    font-weight: normal;
    src: url('https://farsifont.github.io/iranyekan-farsi-numbers/eot/iranyekanwebregular(fanum).eot');
    src: url('https://farsifont.github.io/iranyekan-farsi-numbers/eot/iranyekanwebregular(fanum).eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
    url('https://farsifont.github.io/iranyekan-farsi-numbers/woff2/iranyekanwebregular(fanum).woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
    url('https://farsifont.github.io/iranyekan-farsi-numbers/woff/iranyekanwebregular(fanum).woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('https://farsifont.github.io/iranyekan-farsi-numbers/ttf/iranyekanwebregular(fanum).ttf') format('truetype');
}


body {
    font-family: IranYekanFarsiNumbers, roboto, Arial !important
}

.nav > li > a {
    font-family: IranYekanFarsiNumbers, roboto, Arial !important;
}

h1, h2, h3, h4, h5, h6, .heading-font {
    font-family: IranYekanFarsiNumbers, roboto, Arial !important;
}

.alt-font {
    font-family: IranYekanFarsiNumbers, roboto, Arial !important;
}