@font-face {
    font-family: IranSharp;
    font-style: normal;
    font-weight: bold;
    src: url('https://farsifont.github.io/iransharp/eot/iransharpwebbold.eot');
    src: url('https://farsifont.github.io/iransharp/eot/iransharp_bold_web.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
    url('https://farsifont.github.io/iransharp/woff2/iransharp_bold_web.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
    url('https://farsifont.github.io/iransharp/woff/iransharp_bold_web.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('https://farsifont.github.io/iransharp/ttf/iransharp_bold_web.ttf') format('truetype');
}

@font-face {
    font-family: IranSharp;
    font-style: normal;
    font-weight: 300;
    src: url('https://farsifont.github.io/iransharp/eot/iransharp_light_web.eot');
    src: url('https://farsifont.github.io/iransharp/eot/iransharp_light_web.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
    url('https://farsifont.github.io/iransharp/woff2/iransharp_light_web.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
    url('https://farsifont.github.io/iransharp/woff/iransharp_light_web.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('https://farsifont.github.io/iransharp/ttf/iransharp_light_web.ttf') format('truetype');
}

@font-face {
    font-family: IranSharp;
    font-style: normal;
    font-weight: normal;
    src: url('https://farsifont.github.io/iransharp/eot/iransharp_regular_web.eot');
    src: url('https://farsifont.github.io/iransharp/eot/iransharp_regular_web.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
    url('https://farsifont.github.io/iransharp/woff2/iransharp_regular_web.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
    url('https://farsifont.github.io/iransharp/woff/iransharp_regular_web.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('https://farsifont.github.io/iransharp/ttf/iransharp_regular_web.ttf') format('truetype');
}

body {
    font-family: iransharp ,roboto ,Arial !important
}

.nav > li > a {
    font-family: iransharp ,roboto ,Arial !important;
}

h1, h2, h3, h4, h5, h6, .heading-font {
    font-family: iransharp ,roboto ,Arial !important;
}

.alt-font {
    font-family: iransharp ,roboto ,Arial !important;
}