@font-face {
    font-family: IranYekan;
    font-style: normal;
    font-weight: bold;
    src: url('https://farsifont.github.io/iranyekan/eot/iranyekanwebbold.eot');
    src: url('https://farsifont.github.io/iranyekan/eot/iranyekanwebbold.eot?#iefix') format('embedded-opentype'), /* IE6-8 */ 
	url('https://farsifont.github.io/iranyekan/woff2/iranyekanwebbold.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/ 
	url('https://farsifont.github.io/iranyekan/woff/iranyekanwebbold.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/ 
	url('https://farsifont.github.io/iranyekan/ttf/iranyekanwebbold.ttf') format('truetype');
}

@font-face {
    font-family: IranYekan;
    font-style: normal;
    font-weight: 300;
    src: url('https://farsifont.github.io/iranyekan/eot/iranyekanweblight.eot');
    src: url('https://farsifont.github.io/iranyekan/eot/iranyekanweblight.eot?#iefix') format('embedded-opentype'), /* IE6-8 */ 
	url('https://farsifont.github.io/iranyekan/woff2/iranyekanweblight.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/ 
	url('https://farsifont.github.io/iranyekan/woff/iranyekanweblight.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/ 
	url('https://farsifont.github.io/iranyekan/ttf/iranyekanweblight.ttf') format('truetype');
}

@font-face {
    font-family: IranYekan;
    font-style: normal;
    font-weight: normal;
    src: url('https://farsifont.github.io/iranyekan/eot/iranyekanwebregular.eot');
    src: url('https://farsifont.github.io/iranyekan/eot/iranyekanwebregular.eot?#iefix') format('embedded-opentype'), /* IE6-8 */ 
	url('https://farsifont.github.io/iranyekan/woff2/iranyekanwebregular.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/ 
	url('https://farsifont.github.io/iranyekan/woff/iranyekanwebregular.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/ 
	url('https://farsifont.github.io/iranyekan/ttf/iranyekanwebregular.ttf') format('truetype');
}

/* Latin fonts (Roboto) */

@font-face {
    font-family: roboto;
    font-style: normal;
    font-weight: bold;
    src: url('https://farsifont.github.io/iranyekan/eot/robotobold.eot');
    src: url('https://farsifont.github.io/iranyekan/eot/robotobold.eot?#iefix') format('embedded-opentype'), /* IE6-8 */ url('https://farsifont.github.io/iranyekan/woff2/robotobold.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/ url('https://farsifont.github.io/iranyekan/woff/robotobold.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/ url('https://farsifont.github.io/iranyekan/ttf/robotobold.ttf') format('truetype');
}

@font-face {
    font-family: roboto;
    font-style: normal;
    font-weight: 300;
    src: url('https://farsifont.github.io/iranyekan/eot/robotolight.eot');
    src: url('https://farsifont.github.io/iranyekan/eot/robotolight.eot?#iefix') format('embedded-opentype'), /* IE6-8 */ url('https://farsifont.github.io/iranyekan/woff2/robotolight.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/ url('https://farsifont.github.io/iranyekan/woff/robotolight.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/ url('https://farsifont.github.io/iranyekan/ttf/robotolight.ttf') format('truetype');
}

@font-face {
    font-family: roboto;
    font-style: normal;
    font-weight: normal;
    src: url('https://farsifont.github.io/iranyekan/eot/robotoregular.eot');
    src: url('https://farsifont.github.io/iranyekan/eot/robotoregular.eot?#iefix') format('embedded-opentype'), /* IE6-8 */ url('https://farsifont.github.io/iranyekan/woff2/robotoregular.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/ url('https://farsifont.github.io/iranyekan/woff/robotoregular.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/ url('https://farsifont.github.io/iranyekan/ttf/robotoregular.ttf') format('truetype');
}

body {
    font-family: iranyekan ,roboto ,Arial !important
}

.nav > li > a {
    font-family: iranyekan ,roboto ,Arial !important;
}

h1, h2, h3, h4, h5, h6, .heading-font {
    font-family: iranyekan ,roboto ,Arial !important;
}

.alt-font {
    font-family: iranyekan ,roboto ,Arial !important;
}