
@font-face {
    font-family: IransansFarsiNumbers;
    font-style: normal;
    font-weight: 900;
    src: url('https://farsifont.github.io/iransans-farsi-numbers/eot/IRANSansWeb(FaNum)_Black.eot');
    src: url('https://farsifont.github.io/iransans-farsi-numbers/eot/IRANSansWeb(FaNum)_Black.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
    url('https://farsifont.github.io/iransans-farsi-numbers/woff2/IRANSansWeb(FaNum)_Black.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
    url('https://farsifont.github.io/iransans-farsi-numbers/woff/IRANSansWeb(FaNum)_Black.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('https://farsifont.github.io/iransans-farsi-numbers/ttf/IRANSansWeb(FaNum)_Black.ttf') format('truetype');
}
@font-face {
    font-family: IransansFarsiNumbers;
    font-style: normal;
    font-weight: bold;
    src: url('https://farsifont.github.io/iransans-farsi-numbers/eot/IRANSansWeb(FaNum)_Bold.eot');
    src: url('https://farsifont.github.io/iransans-farsi-numbers/eot/IRANSansWeb(FaNum)_Bold.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
    url('https://farsifont.github.io/iransans-farsi-numbers/woff2/IRANSansWeb(FaNum)_Bold.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
    url('https://farsifont.github.io/iransans-farsi-numbers/woff/IRANSansWeb(FaNum)_Bold.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('https://farsifont.github.io/iransans-farsi-numbers/ttf/IRANSansWeb(FaNum)_Bold.ttf') format('truetype');
}
@font-face {
    font-family: IransansFarsiNumbers;
    font-style: normal;
    font-weight: 500;
    src: url('https://farsifont.github.io/iransans-farsi-numbers/eot/IRANSansWeb(FaNum)_Medium.eot');
    src: url('https://farsifont.github.io/iransans-farsi-numbers/eot/IRANSansWeb(FaNum)_Medium.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
    url('https://farsifont.github.io/iransans-farsi-numbers/woff2/IRANSansWeb(FaNum)_Medium.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
    url('https://farsifont.github.io/iransans-farsi-numbers/woff/IRANSansWeb(FaNum)_Medium.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('https://farsifont.github.io/iransans-farsi-numbers/ttf/IRANSansWeb(FaNum)_Medium.ttf') format('truetype');
}
@font-face {
    font-family: IransansFarsiNumbers;
    font-style: normal;
    font-weight: 300;
    src: url('https://farsifont.github.io/iransans-farsi-numbers/eot/IRANSansWeb(FaNum)_Light.eot');
    src: url('https://farsifont.github.io/iransans-farsi-numbers/eot/IRANSansWeb(FaNum)_Light.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
    url('https://farsifont.github.io/iransans-farsi-numbers/woff2/IRANSansWeb(FaNum)_Light.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
    url('https://farsifont.github.io/iransans-farsi-numbers/woff/IRANSansWeb(FaNum)_Light.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('https://farsifont.github.io/iransans-farsi-numbers/ttf/IRANSansWeb(FaNum)_Light.ttf') format('truetype');
}
@font-face {
    font-family: IransansFarsiNumbers;
    font-style: normal;
    font-weight: 200;
    src: url('https://farsifont.github.io/iransans-farsi-numbers/eot/IRANSansWeb(FaNum)_UltraLight.eot');
    src: url('https://farsifont.github.io/iransans-farsi-numbers/eot/IRANSansWeb(FaNum)_UltraLight.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
    url('https://farsifont.github.io/iransans-farsi-numbers/woff2/IRANSansWeb(FaNum)_UltraLight.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
    url('https://farsifont.github.io/iransans-farsi-numbers/woff/IRANSansWeb(FaNum)_UltraLight.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('https://farsifont.github.io/iransans-farsi-numbers/ttf/IRANSansWeb(FaNum)_UltraLight.ttf') format('truetype');
}
@font-face {
    font-family: IransansFarsiNumbers;
    font-style: normal;
    font-weight: normal;
    src: url('https://farsifont.github.io/iransans-farsi-numbers/eot/IRANSansWeb(FaNum).eot');
    src: url('https://farsifont.github.io/iransans-farsi-numbers/eot/IRANSansWeb(FaNum).eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
    url('https://farsifont.github.io/iransans-farsi-numbers/woff2/IRANSansWeb(FaNum).woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
    url('https://farsifont.github.io/iransans-farsi-numbers/woff/IRANSansWeb(FaNum).woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('https://farsifont.github.io/iransans-farsi-numbers/ttf/IRANSansWeb(FaNum).ttf') format('truetype');
}


body {
    font-family: IRANSans, roboto, Arial !important
}

.nav > li > a {
    font-family: IRANSans, roboto, Arial !important;
}

h1, h2, h3, h4, h5, h6, .heading-font {
    font-family: IRANSans, roboto, Arial !important;
}

.alt-font {
    font-family: IRANSans, roboto, Arial !important;
}