@font-face {
    font-family: Vazir;
    src: url('https://farsifont.github.io/vazir/Vazir.eot');
    src: url('https://farsifont.github.io/vazir/Vazir.eot?#iefix') format('embedded-opentype'),
    url('https://farsifont.github.io/vazir/Vazir.woff2') format('woff2'),
    url('https://farsifont.github.io/vazir/Vazir.woff') format('woff'),
    url('https://farsifont.github.io/vazir/Vazir.ttf') format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: Vazir;
    src: url('https://farsifont.github.io/vazir/Vazir-Bold.eot');
    src: url('https://farsifont.github.io/vazir/Vazir-Bold.eot?#iefix') format('embedded-opentype'),
    url('https://farsifont.github.io/vazir/Vazir-Bold.woff2') format('woff2'),
    url('https://farsifont.github.io/vazir/Vazir-Bold.woff') format('woff'),
    url('https://farsifont.github.io/vazir/Vazir-Bold.ttf') format('truetype');
    font-weight: bold;
}

@font-face {
    font-family: Vazir;
    src: url('https://farsifont.github.io/vazir/Vazir-Light.eot');
    src: url('https://farsifont.github.io/vazir/Vazir-Light.eot?#iefix') format('embedded-opentype'),
    url('https://farsifont.github.io/vazir/Vazir-Light.woff2') format('woff2'),
    url('https://farsifont.github.io/vazir/Vazir-Light.woff') format('woff'),
    url('https://farsifont.github.io/vazir/Vazir-Light.ttf') format('truetype');
    font-weight: 300;
}

@font-face {
    font-family: Vazir;
    src: url('https://farsifont.github.io/vazir/Vazir-Medium.eot');
    src: url('https://farsifont.github.io/vazir/Vazir-Medium.eot?#iefix') format('embedded-opentype'),
    url('https://farsifont.github.io/vazir/Vazir-Medium.woff2') format('woff2'),
    url('https://farsifont.github.io/vazir/Vazir-Medium.woff') format('woff'),
    url('https://farsifont.github.io/vazir/Vazir-Medium.ttf') format('truetype');
    font-weight: 500;
}

@font-face {
    font-family: Vazir;
    src: url('https://farsifont.github.io/vazir/Vazir-Thin.eot');
    src: url('https://farsifont.github.io/vazir/Vazir-Thin.eot?#iefix') format('embedded-opentype'),
    url('https://farsifont.github.io/vazir/Vazir-Thin.woff2') format('woff2'),
    url('https://farsifont.github.io/vazir/Vazir-Thin.woff') format('woff'),
    url('https://farsifont.github.io/vazir/Vazir-Thin.ttf') format('truetype');
    font-weight: 100;
}
body{font-family:  "Vazir",  sans-serif !important}
.nav > li > a {font-family:  "Vazir", sans-serif !important;}
h1,h2,h3,h4,h5,h6, .heading-font{font-family: "Vazir", sans-serif !important;}
.alt-font{font-family: "Vazir", sans-serif !important;}
